In [4]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
from IPython.display import display

In [6]:
df_62 = pd.read_csv("1.clean/outputs/62_main.csv")
df_63 = pd.read_csv("1.clean/outputs/63_main.csv")
df_64 = pd.read_csv("1.clean/outputs/64_main.csv")
df_66 = pd.read_csv("1.clean/outputs/66_main.csv")
df_67 = pd.read_csv("1.clean/outputs/67_main.csv")
df_68 = pd.read_csv("1.clean/outputs/68_main.csv")
df_70 = pd.read_csv("1.clean/outputs/70_main.csv")
df_73 = pd.read_csv("1.clean/outputs/73_main.csv")

display(type(df_62))
display(df_62.head())

pandas.core.frame.DataFrame

,date,kwh,th,th_state,tlr,tlr_state,tavg,tavg_state
0,2017-01-10 00:00:00,112,196.923309,0,184.000000,0,187.260139,0
1,2017-01-10 00:30:00,224,193.699251,0,184.000000,0,187.011574,0
2,2017-01-10 01:00:00,112,188.899867,0,183.927536,0,186.480827,0
3,2017-01-10 01:30:00,112,187.537138,0,183.000000,0,186.039855,0
4,2017-01-10 02:00:00,112,182.417572,0,183.000000,0,185.818841,0